<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">CONCIERGE</h1>
  </ion-header-bar>
  <ion-content>
    <div class="buttons">
      <button class="button button" ng-click="closeLogin()">Close</button>
    </div>
    <!--form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form-->
    <ion-item nav-clear menu-close ng-click="Guide()">
        <button class="button">GUIDE</button>
    </ion-item> 
  </ion-content>
</ion-modal-view>
