<ion-view>
  <ion-content>
    <!--ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list-->
      <h1 style="font-size:94px; text-align:center;">1:59</h1>
      <timer interval="1000">{{hours}} hours, {{minutes}} minutes, {{seconds}} seconds, {{millis}} milliseconds.</timer>
    <div class="list">
      <div class="item range range-positive">
        <i class="icon ion-ios7-sunny-outline"></i>
        <input type="range" name="volume" min="0" max="100" value="33">
        <i class="icon ion-ios7-sunny"></i>
      </div>
    </div>
      <button class="button button-full button-assertive" style="font-size:30px;">START</button>
        <button ng-click="Concierge_Wrinkles()" class="button button-full button-stable" style="font-size:30px;">CONCIERGE</button>
  </ion-content>
</ion-view>
