<ion-view>
    <ion-content has-bouncing="false">
        <h1 class="timer-text">
            {{minutes}}:{{seconds}}
        </h1>
        <input type="range" min="300" max="900" step="1" value="375">
        <div id="time-row" style="margin-left: 10%" class="row">
            <div class="col">5:00</div>
            <div class="col">10:00</div>
            <div class="col">15:00</div>
        </div>
    </ion-content>
    <div class="fixed-outside">
        <div class="start-btn-acne" ng-if="timerRunning === false" ng-click="startStopTimer()">
            <p class="start-text">
                START
            </p>
        </div>
        <div class="start-btn-acne" ng-if="timerRunning === true" ng-click="startStopTimer()">
            <p class="start-text">
                STOP
            </p>
        </div>
        <div class="concierge-btn" ng-click="showConcierge()">
            <p class="concierge-text">
                CONCIERGE
            </p>
        </div>
    </div>
</ion-view>
