<ion-view>
    <ion-content>
        <h1 class="timer-text">
            <timer interval="1000" autostart="false">{{minutes}}:{{sseconds}}</timer>
        </h1>

        <input type="range" min="200" max="600" step="10" value="300">

        <div class="row">
            <div class="col">2:00</div>
            <div class="col">3:00</div>
            <div class="col">4:00</div>
            <div class="col">5:00</div>
            <div class="col">6:00</div>
        </div>
    </ion-content>

    <div class="fixed-outside">

        <div class="start-btn-wrinkle" ng-if="timerRunning === false" ng-click="startStopTimer()">
            <p class="start-text">
                START
            </p>
        </div>

        <div class="start-btn-wrinkle" ng-if="timerRunning === true" ng-click="startStopTimer()">
            <p class="start-text">
                STOP
            </p>
        </div>

        <div class="concierge-btn" >
            <p class="concierge-text">
                CONCIERGE
            </p>
        </div>
    </div>
</ion-view>
