/* NickV Stylz */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,400,300);

/* Wrinkles */
.start-btn-wrinkle {
    background-color: #E84B60;
    height: 50%;
    padding: 3.5em;
}

.concierge-btn {
    background-color: #F4F4F4;
    height: 50%;
    padding: 3.5em;
}

.start-text {
    text-align: center;
    font-size: 35px;
    color: white;
}

.concierge-text {
    text-align: center;
    font-size: 35px;
    color: black;
}

.wrinkle-slider-handle {
    border: #E84B60 13px solid;
}

.selectedTime {
    color: #E84B60;
}

/* Acne */
.start-btn-acne {
    background-color: #4169E1;
    height: 50%;
    padding: 3.5em;
}

/*
    this does some magic: not quite sure what yet, overrides the ionic css
    http://stackoverflow.com/questions/27980711/how-to-make-a-container-fill-whole-screen-below-the-navigation-bar-in-ionic
*/

/*.scroll{height: 100%;}*/

/*
    holy hell this was tricking me: 'superfill' class is handy for maximizing content of the screen to fill 100%
    http://forum.ionicframework.com/t/fill-content-container/605/3
*/
.superfill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: red;
}

/*
    more handy classes: has-bottom, fixed-outside
    http://codepen.io/anon/pen/bNzOKg
*/

.has-bottom{
  bottom:60px !important;
}

.fixed-outside {
  position: absolute;
  bottom: 0;
  background: #000;
  color:white;
  width: 100%;
  height: 40%;
  text-align:center;
}

.fixed-inside  {
    position: fixed;
    margin-top: 100%;
}


.timer-text {
    font-size:94px; 
    text-align:center;
}


.progress-bar {
    position: relative;
    height: 100%;
    background-image: linear-gradient(135deg, #E84B60, #EA796C, #EB8864);
    transition: width .2s linear;
  }


